<div class="container-fluid foot">
  <div class="row">
    <div class="col-md-4">
     <h3>CONNECT WITH US</h3>
     <p>Facebook</p>
     <p>Twitter</p>
     <p>Instagram</p>
    </div>
    <div class="col-md-4">
      <h3>HELP</h3>
      <p>Payments</p>
      <p>Shipping</p>
      <p>Cancellation & Returns</p>
      <p>FAQ</p>
     </div>
    <div class="col-md-4">
      <h3>POLICY</h3>
      <p>Return Policy</p>
      <p>Terms Of Use</p>
      <p>Security</p>
      <p>Privacy</p>
    </div>
  </div>
</div>
