<button mat-raised-button class="back" [routerLink]="['/product',{productId:product.productId}]"
 queryParamsHandling="preserve"><mat-icon>arrow_back</mat-icon></button>
<div class="container">
  <div class="row">
      <mat-card class="example-card col-md-8">
        <img
        mat-card-image
        [src]="product.imagePath"
        alt="{{product.name}}">
        </mat-card>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
        <mat-card class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <mat-card-content class="content">
          <p>{{product.name}}<br>
        <i class="fa fa-rupee"></i>{{product.price}} </p>

        <p>
        {{product.description}}
        </p>
        <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
    </mat-card-actions>
      </mat-card-content>
      </mat-card>
    </div>
</div>
