.login{
  border: 1px solid #b8b8b8;
  background-color: white;
  border-radius: 3px;
  margin-top: 10%;
  height:450px;
}
.logpad{
  text-align: center;
}
.logpad .forgot{
  color:red;
}
span.psw{
  display: block;
  float:right;
}
