<div class="container body">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 login">
              <h2>Login</h2>
                <form #loginForm="ngForm" (ngSubmit)=onLogin(loginForm) novalidate>
                    <div class="form-group" [class.has-error]="email.invalid && (email.touched || loginForm.submitted)" [class.has-success]="email.valid">
                        <label for="email" class="control-label">Email</label>
                        <input type="text" class="form-control" name="email" id="email" ngModel #email="ngModel" minlength="3" required email />
                     <span class="help-block" *ngIf="(email.touched || loginForm.submitted) && email.errors && email.errors.required">
                       Email is required
                       </span>
                       <span class="help-block" *ngIf="email.errors?.email && email.touched">
                         Enter a valid Email
                         </span>
                    </div>
                    <div class="form-group" [class.has-error]="password.invalid && (password.touched || loginForm.submitted)" [class.has-success]="password.valid">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" ngModel #password="ngModel"   required minlength="6"/>
                        <span class="help-block" *ngIf="password.touched || loginForm.submitted">
                          <span class="help-block" *ngIf="password.invalid && password.errors?.required">Password is required</span>
                          <span class="help-block" *ngIf="password.touched && password.errors?.minlength">Password must be more than 6 characters</span>
                          </span>
                    </div>
                    <div class="form-group">
                    <label>
                       <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                     </div>
                     <div class="col-lg-12 logpad">
                       <div class="form-group flex">
                           <button mat-raised-button type="submit" color="primary">Login</button>
                           <p>OR</p>
                           <button mat-raised-button routerLink="/signin" color="primary">Create a new account</button>
                       </div>
                       <div class="form-group">
                         <span class="psw">Forgot <a class="forgot" href>Password?</a></span>
                       </div>
                     </div>
                </form>
            </div>
    </div>
    </div>
      <app-footer></app-footer>
